@import 'variables';
@import 'mixins';
@import 'base';
@import 'layouts';


#content {
  max-width: 700px;
  margin: auto;
}

#apply-section {
  text-align: center;
}

#footer {
  text-align: center;
  margin-bottom: 20px;
}