// Define Common Mixins Here
@import "variables";

@mixin font-light() {
  font-family: $datalogue-sans-serif !important;
  letter-spacing: 0.5px !important;
  font-weight: $font-weight-light !important;
}

@mixin font-medium() {
  font-family: $datalogue-sans-serif !important;
  letter-spacing: 0 !important;
  font-weight: $font-weight-normal !important;
}

@mixin font-bold() {
  font-family: $datalogue-sans-serif !important;
  letter-spacing: 0 !important;
  font-weight: $font-weight-bold !important;
}

@mixin no-bullets() {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

@mixin card() {
  background: $datalogue-white;
  padding: $margin;
  padding-top: 0;
  margin-bottom: $margin;
  box-shadow: $outer-shadow;
}

@mixin button-text() {
  padding: 0 $margin/4;
  font-size: 0.9em;
  position: relative;
  top: 1px;
}
